__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Django
*.log
db.sqlite3
/media/
/staticfiles/
.env

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store

# Distribution
build/
dist/
*.egg-info/
